{% extends 'base.html' %}
{% block content %}
<main class="p-5 container">

<div class="row p-5">

	<div class="col">
		<h1><b>About Us</b> 		</h1><hr>
	</div>
	<div class="row text-justify">
		<div class="col-sm-10">
		<h2><p><b> TogWeb is here to help Students to connect with their college Alumni </b> </p>
		<ul>
			<li>Know the latest Techlonogy Trends </li>
			<li>Knowledge about Industrial  Requirements</li></ul>
		</h2></div>
		<div class="col-sm-6">

		</div>
	</div>
</div>
<div class="row my-3">
	<div class="col-sm-8 offset-sm-2">
	<div id="carouselId" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        
       <video autoplay loop muted="background"  controls>


        <source src="/static/images/No-Excuses-Motivational-Status-Video.mp4" type="video/mp4"></source>


    </video> 
    </div>
    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
	
	</div>
</div>
{% endblock %}

