{% extends 'base.html' %}
{% block content %}
<div class="p-5">
	<h1>{{user.myprofile.name}}</h1>
	<hr>
<div class="row">
	<div class="col-sm-6">
	<p><strong>Name :   </strong> <h1 style="color:black;font-size:20px;"> {{user.myprofile.name}}</h1></p>
    <p><strong>Username :   </strong> <h1 style="color:black;font-size:20px;">{{user.username}}</h3></p>

    <p><strong>Age :   </strong> {{user.myprofile.age}}</p>
	<p><strong>Gender :   </strong> <h2 style="color:black;font-size:20px;">{{user.myprofile.gender}}</h2></p>

	<p><strong>Status :   </strong>  <h2 style="color:black;font-size:20px;">{{user.myprofile.status}}</h2></p>
	<p><strong>Phone No :   </strong>  <h2 style="color:black;font-size:20px;"> {{user.myprofile.phone_no}}</h2></p>
	<p><strong>Description :   </strong>  <h2 style="color:black;font-size:20px;">{{user.myprofile.description}}</h2></p>
		<p><strong>Email :   </strong> {{user.email}}</p>
        <p><strong>Address :   </strong> {{user.myprofile.address}}</p>

	</div>
	<div class="col-sm-6">
		<img class="img-fluid" src="/media/{{user.myprofile.pic}}" />
	</div>
</div>
<a href="/social/profile/edit/{{ user.myprofile.id }}" class="btn btn-outline-dark">Update Profile</a>
</div>
{% endblock %}
